# react dependencies
algo_interact/node_modules
node_modules

# travis ci
.travis.yml

# secret key
#algo_interact/secret.py

# SSL Keys
algo-interact.key
algointeract_com.crt
algointeract_com.ca-bundle
algointeract.crt

# AWS Keys
rootkey.csv

# AWS
.env

# staticfiles
staticfiles
