.modal-dialog {
	display: flex;
	align-items: center;
}

.btn.btn-success {
	position: absolute;
	bottom: 0em;
	width: 32px;
	height: 32px;
	padding-top: 2.5px;
	padding-left: 3.2px;
	background-color: rgb(46, 185, 106);
}

.btn.btn-success:hover {
	border-color: #16d469;
	background-color: #16d469;
}

.helpHeader {
	background-color: rgb(46, 185, 106);
	color: white;
}

h1.display-4 {
	font-weight: lighter !important;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2.5em !important;
}

h2.helpModal {
	padding-bottom: 15px;
	border-bottom: 3px solid rgb(46, 185, 106);
	border-radius: 2px 2px 2px 2px;
	line-height: 20px;
	width: 5.55em;
}

h2.helpModal2 {
	padding-bottom: 15px;
	border-bottom: 3px solid rgb(46, 185, 106);
	border-radius: 2px 2px 2px 2px;
	line-height: 20px;
	width: 6.23em;
}
