html,
body {
	height: 100%;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row {
	align-self: center;
	margin: 0;
}

.box .row.content {
	flex: 1 1 auto;
}

.empty.display-4.text-center {
	font-size: 1em;
	color: grey;
}

.card.border.border-danger {
	border-color: #c34f6b !important;
	border-radius: 20px;
	border-width: 0.8em;
}

h2 {
	padding-bottom: 0.4em !important;
	border-bottom: 3px solid #c34f6b;
	border-radius: 2px 2px 2px 2px;
	line-height: 10px;
}

hr {
	opacity: 0.8;
	border-radius: 5px;
	width: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.linkHome {
	color: #212529;
	text-decoration: none !important;
}

.linkHome:hover {
	color: #c34f6b;
}

a.try,
a.try:hover {
	padding-bottom: 1px;
	border-bottom: 3px solid #c34f6b;
	border-radius: 2px 2px 2px 2px;
	line-height: 10px;
	outline: none;
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: white;
}

.card-deck.d-flex.pt-1.pb-4.bd-highlight {
	margin-left: 2.5em;
	margin-right: -10em;
	margin-top: -0.2em;
}

.newArticleButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 6%;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #c34f6b !important;
}

.newArticleButton:hover {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 6%;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #ce4e6e !important;
}

.newArticleButton:focus {
	outline: none !important;
}

.newArticleText {
	margin-top: 0.2em;
	font-size: 0.95em;
}

.buttonHolder {
	margin-top: 3em;
	margin-right: 2em;
	text-align: right;
}

.searchInput {
	margin-right: 0.5em;
	width: 17%;
}

.searchInput:focus {
	outline: none !important;
}

::placeholder {
	font-size: 0.95em;
}

.category.label {
	font-size: 1.6em;
}

hr.discuss {
	margin-bottom: 2em;
}
