/*Algo tabs*/
.nav {
  justify-content: center;
}

/*Algo tabs outline*/
nav.nav-tabs {
  border-bottom: 1px solid whitesmoke;
}

/*Individual Tabs*/
.nav-tabs .nav-item {
  color: #c34f6b;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 11em;
  text-align: center;
}

.nav-tabs .nav-item:first-child {
  color: #c34f6b !important;
}

.nav-tabs .nav-item:focus {
  color: #a7435a !important;
}

.nav-tabs .nav-item:hover {
  color: #ff6287 !important;
}
