.Header {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: turquoise;
  position: relative;
}

a.nav-link,
a.nav-link:click,
a.nav-link:visited {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: white;
}

a.nav-link:hover {
  color: whitesmoke;
  text-decoration: none;
}

.navbar.navbar-expand.navbar-dark.bg-dark {
  background-color: #c34f6b !important;
}

.navbar-brand {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.logo {
  object-fit: cover;
  width: 35%;
  height: 50%;
  max-height: 2em;
  max-width: 40em;
}
