.Header {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: turquoise;
  position: relative;
}

a,
a:hover,
a:click,
a:visited {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: white;
}
