html,
body {
  height: 100%;
}

input {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 0.08em;
  height: 2em;
  width: 13.8em;
  border-color: #c34f6b !important;
  padding: 8px;
}

input.nodeInput {
  width: 16em;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 0.08em;
  border-color: #c34f6b !important;
  padding: 8px;
}

input.linkInput {
  width: 16em;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 0.08em;
  border-color: #c34f6b !important;
  padding: 8px;
}

h1.name.text-center {
  width: 3em;
  position: absolute;
  left: 1.2em;
  font-size: 3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: 2px solid #c34f6b;
  border-radius: 2px 2px 2px 2px;
  color: inherit;
  -webkit-tap-highlight-color: white;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.welcome {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.btn.btn-outline-danger {
  font-size: 20px;
  height: 1.6em;
  background-color: white;
  border-color: #c34f6b !important;
}

.leftWindow {
  height: 26em;
  width: 17em;
  position: absolute;
  margin-left: 0.5em;
}

.rightWindow {
  height: 16em !important;
  width: 3em;
  position: absolute;
  right: 0px;
}

.rightWindowHelpButton {
  position: relative;
  height: 2em !important;
  width: 2em !important;
  top: 1em;
  left: 0.5em;
}

.algoSelection {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 0.08em;
  height: 2.3em !important;
  width: 14.1em;
  border-color: #c34f6b !important;
  padding: 0.6em !important;
  font-size: 1.1em !important;
  color: #c34f6b !important;
}

.algoSelection:hover {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 0.08em;
  height: 2.3em !important;
  width: 14.1em;
  border-color: #c34f6b !important;
  padding: 0.6em !important;
  font-size: 1.1em !important;
  color: white !important;
  background-color: #c34f6b !important;
}

.json-data-container {
  padding: 0.6em;
  max-height: 14em;
  width: 15.9em;
  overflow: auto;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-width: 0.08em;
  border-color: #c34f6b !important;
}

/* the tree node's style */
.tree-view {
  overflow-y: hidden;
  font-size: 1em;
  color: #c34f6b;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
  color: gray;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
}

.tree-view_arrow:after {
  content: "▾";
  color: black;
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.form {
  background-color: cadetblue;
  width: 100%;
  height: 60%;
  text-align: center;
}

.submit {
}

button.btn.btn-outline-success {
  margin-top: 5px;
  width: 80%;
}

button.dropdown-toggle.btn.btn-outline-info {
  margin-top: 8px;
  width: 80%;
}

.L {
  width: 83%;
  padding: 5px;
}

#node.input-group {
  width: 113%;
}

/* Algo selector*/
#algoSelection.show {
  display: block;
}

/*Algorithm selector dropdown*/
a.dropdown-item.active {
  background-color: #f1b709;
}

/*All dropdowns*/
div.dropdown-menu.show {
  display: contents;
}

/*check boxes*/
div.form-check {
  display: inline-block;
}

#dropdown-basic {
  width: 12%;
}

#dropdown-basic:after {
  content: none;
}

#dropdown-two {
  width: 94.5%;
}

.dropdown.font-weight-light {
  font-size: 1.2em;
  padding-top: 0em;
  padding-left: 0.3em;
  color: #c34f6b;
}

.dropdown.pt-2 {
  width: 88%;
  margin-bottom: 0.5em;
}

.presetButton.font-weight-light {
  font-size: 1.2em;
  padding-top: 0em;
  width: 1.6em !important;
  color: #c34f6b;
  margin-left: auto;
  margin-right: 0.75em;
}

.presetButton.font-weight-light:hover {
  color: white !important;
  background-color: #c34f6b !important;
}

.icon {
  position: relative;
  bottom: 0.15em;
}

.iconPresets {
  position: relative;
  right: 0.35em;
  bottom: 0.15em;
}

.submit.mt-2.font-weight-normal {
  text-align: center;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #07bb1f;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 83%;
}

div.box .tLog {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  bottom: 13%;
  left: -50%;
}

div.box .tLog .list-group {
  border: 3px solid #f1b709;
  border-top: 0px;
}

.extraClass {
  font-size: 0.9em !important;
}

.checkboxes.font-weight-light {
  font-size: 1em;
  margin-right: 2.5em;
}
