.discuss.card.border {
	height: 11em;
	max-width: 65%;
	border-color: transparent !important;
	border-width: 0 !important;
	border-radius: 20px; /* Larger number results in more curved corners of card */
	box-shadow: 0px 5px 15px #bbbbbb !important;
	margin-bottom: 1.5em;
}

.discuss.card.border:hover {
	box-shadow: 0px 15px 30px #bbbbbb !important;
}

.discuss.card-img-top,
.discuss.card-img-top:hover {
	background-color: transparent !important;
	height: 11em;
	object-fit: cover;
	border-color: transparent !important;
	border-width: 0 !important;
	border-radius: 20px; /* Larger number results in more curved corners of card */
	border-top-right-radius: 20px !important;
	border-top-left-radius: 20px !important;
	background-color: #ffa291;
}

.discuss.title {
	position: relative;
	top: 0.3em;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	font-size: 1.2em;
	align-content: center;
	color: white;
}

.discuss.author {
	position: relative;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	color: white;
}

.discuss.subtitle {
	position: absolute;
	left: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	color: white;
	padding-right: 0.5em;
}

.discuss.link {
	color: white;
}

.discuss.link:hover {
	color: white;
}

.card.content {
	position: absolute;
	top: 0;
	background-color: transparent;
	border-color: transparent;
	height: 11em;
	width: 14.3em;
}
