.btn.btn-outline-danger.showModal {
  color: #c34f6b;
  border-color: #c34f6b !important; /* Sets all card border colors to match header and footer color */
  border-bottom-left-radius: 18px; /* Larger number results in more curved corners of card */
  border-bottom-right-radius: 18px; /* Larger number results in more curved corners of card */
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.btn.btn-outline-danger.showModal:hover {
  background-color: #c34f6b;
}

.card.border {
  border-color: #c34f6b !important; /* Sets all card border colors to match header and footer color */
  border-radius: 20px; /* Larger number results in more curved corners of card */
  border-width: 0.8em;
}

button .container h5 {
  font-size: 17px;
  font-weight: 380;
  position: relative;
  justify-content: center;
  color: #303030;
}

.modal {
  border-color: #c34f6b !important; /* Sets all card border colors to match header and footer color */
  border-radius: 20px; /* Larger number results in more curved corners of card */
  border-width: 0.8em;
}

.modal Tabs {
}

