.Footer {
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  background-color: turquoise;
}

a.nav-link {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: white;
}

a.nav-link:hover {
  color: whitesmoke;
  text-decoration: none;
}

#sticky-footer {
  background-color: #c34f6b !important;
  position: absolute;
  bottom: 0;
  height: 5em;
  width: 100%;
}

.container.text-center {
  color: white;
}

.modal-dialog {
  display: flex;
  align-items: center;
}

.teamHeader {
  background-color: #c34f6b;
  font-style: italic;
}

h1.title {
  color: white;
  font-weight: lighter !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 2.5em !important;
}

h4.name {
  padding-top: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

p.description {
  font-style: italic;
}

.container h4 {
  font-family: monospace;
  font-weight: bolder;
}

.circular--portrait.AC {
  object-fit: cover;
  object-position: 50%, 30% !important;
  width: 180px;
  height: 180px;
  border-radius: 50% !important;
}

.circular--portrait.AC img {
  width: 100;
  height: auto;
}

.circular--landscape {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.circular--landscape.jay {
  object-fit: cover;
  object-position: 30% 70%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100;
}
