@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

html,
body {
	height: 100%;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row {
	align-self: center;
	margin: 0;
}

.box .row.content {
	flex: 1 1 auto;
}

.background {
	position: relative;
	z-index: -1;
}

.algointeractLogo {
	position: absolute;
	top: 65px;
	left: 15vw;
	width: 17vw;
}

.firstBox {
	position: absolute;
	top: calc(2vw + 55px);
	left: 34vw;
}

.titleText1 {
	color: white;
	font-size: 5vw;
	font-family: "Playfair Display", serif;
}

.titleText2 {
	color: rgb(78, 78, 78);
	width: 50vw;
	padding-top: 10px;
	line-height: 2.5vw;
	font-size: 1.8vw;
	font-family: "Sanchez", serif;
}

.secondBox {
	position: absolute;
	top: calc(22vw + 80px);
	left: 6vw;
}

.visualizerBox {
	display: inline-block;
	padding-top: 0px !important;
}

.visualizerText1 {
	color: #c34f6b;
	font-size: 1.8vw;
	font-family: "Playfair Display", serif;
}

.visualizerText2 {
	color: rgb(78, 78, 78);
	width: 25vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	font-family: "Sanchez", serif;
	text-align: justify;
}

.learnBox {
	display: inline-block;
	padding-left: 5vw;
	padding-top: 0px !important;
}

.learnText1 {
	color: #c34f6b;
	font-size: 1.8vw;
	font-family: "Playfair Display", serif;
}

.learnText2 {
	color: rgb(78, 78, 78);
	width: 25vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	font-weight: 100 !important;
	font-family: "Sanchez", serif;
	text-align: justify;
}

.thirdBox {
	position: absolute;
	top: calc(46vw + 60px);
	width: 100%;
	text-align: center;
}

.hubTitleBox {
	position: relative;
	margin-top: 14.2vw;
	margin-bottom: 6.5vw;
}

.hubTitle {
	display: inline-block;
	width: 17.5vw;
	color: white;
	font-size: 1.8vw;
	font-family: "Playfair Display", serif;
}

.hubText1 {
	color: #c34f6b;
	font-size: 3vw;
	font-family: "Playfair Display", serif;
}

.hubText2 {
	color: rgb(78, 78, 78);
	line-height: 2vw;
	font-size: 1.2vw;
	font-weight: 100 !important;
	font-family: "Sanchez", serif;
	padding-left: 24vw;
	padding-right: 24vw;
}

.articleBox {
	display: inline-block;
	text-align: left;
}

.articleText1 {
	color: #c34f6b;
	font-size: 1.8vw;
	font-family: "Playfair Display", serif;
	text-align: left;
}

.articleText2 {
	color: rgb(78, 78, 78);
	width: 25vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	font-weight: 100 !important;
	font-family: "Sanchez", serif;
	text-align: justify;
}

.forumBox {
	display: inline-block;
	padding-left: 5vw;
	text-align: left;
}

.forumText1 {
	color: #c34f6b;
	font-size: 1.8vw;
	font-family: "Playfair Display", serif;
	text-align: left;
}

.forumText2 {
	color: rgb(78, 78, 78);
	width: 25vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	font-weight: 100 !important;
	font-family: "Sanchez", serif;
	text-align: justify;
}

.projectBox {
	display: inline-block;
	padding-left: 5vw;
	text-align: left;
}

.projectText1 {
	color: #c34f6b;
	font-size: 1.8vw;
	font-family: "Playfair Display", serif;
	text-align: left;
}

.projectText2 {
	color: rgb(78, 78, 78);
	width: 25vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	font-weight: 100 !important;
	font-family: "Sanchez", serif;
	text-align: justify;
}

.visualizerLink {
	color: #c34f6b;
	width: 11vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	font-family: "Sanchez", serif;
}

.visualizerLink:hover {
	color: rgb(238, 59, 104) !important;
}

.linkArrow {
	position: relative;
	left: 2px;
	bottom: 4px;
	color: rgb(78, 78, 78);
	font-size: 1vw;
	font-family: "Sanchez", serif;
	color: #c34f6b;
}

.linkArrow:hover {
	color: rgb(238, 59, 104) !important;
}

.home.link:hover {
	text-decoration: none !important;
}

.joinNow {
	margin-top: 5.8vw;
	color: white;
	font-size: 3vw;
	font-family: "Playfair Display", serif;
}
