.Header {
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: turquoise;
	position: relative;
}

.nav-link.header {
	font-size: 16px;
	font-weight: 500;
	color: white !important;
}

.nav-link.header:hover {
	color: rgb(255, 136, 165) !important;
}

.navbar.navbar-expand.navbar-dark.bg-dark {
	background-color: #c34f6b !important;
}

.navbar-brand {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 8.8em;
}

.logo {
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: 3em;
	max-width: 40em;
}

.linkHeader:hover {
	text-decoration: none !important;
}

.login-form {
	position: relative;
	top: 0.6em;
	left: -9%;
	width: 110%;
	padding: 8%;
}

.signup-form {
	position: relative;
	top: 0.6em;
	left: -9%;
	width: 110%;
	padding: 8%;
}

.warning {
	margin-top: 3%;
	font-size: 0.75em;
	color: #6b6c6d;
}

.site-form-item-icon {
	color: #c34f6b;
	margin-right: 3%;
	font-size: large;
}

.input {
	margin-bottom: 5%;
	width: 120%;
	color: #6b6c6d;
}

.formInput {
	border-width: 0 !important;
}

.password {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 100%;
	color: #c34f6b;
}

.checkbox {
	position: relative;
	left: -20%;
	display: inline-block;
	width: 110%;
}

.checkbox:active {
	position: relative;
	left: -20%;
	display: inline-block;
	width: 110%;
	color: #c34f6b;
}

.text {
	position: absolute;
	display: inline-block;
	top: 15%;
	left: 40%;
}

.agreement {
	font-size: 0.8em;
}

.logIn {
	position: relative;
	top: 0.5em;
	left: 10%;
	width: 89%;
	text-align: left;
}

.logInButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 4.8px;
	border-bottom-right-radius: 4.8px;
	border-top-left-radius: 4.8px;
	border-bottom-left-radius: 4.8px;
	border-width: 1.28px;
	height: 32px !important;
	width: 100%;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #c34f6b;
}

.logInButton:hover {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 4.8px;
	border-bottom-right-radius: 4.8px;
	border-top-left-radius: 4.8px;
	border-bottom-left-radius: 4.8px;
	border-width: 1.28px;
	height: 32px !important;
	width: 100%;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #ce4e6e !important;
}

.logInText {
	margin-top: 0.2em;
	font-size: 16px;
}

.signUp {
	margin-top: 7%;
	text-align: center;
}

.signUpOne {
	margin-left: 8%;
	font-weight: 500px;
	font-size: 15px;
	color: #6b6c6d;
	display: inline-block;
	vertical-align: top;
}

.signUpTwo {
	margin-left: 1%;
	font-weight: 500px;
	font-size: 15px;
	color: #c34f6b !important;
	display: inline-block;
	vertical-align: top;
}

.signUpTwo:hover {
	cursor: pointer;
}

.logInLogo {
	position: relative;
	top: 0.5em;
	left: 9%;
	height: 58px;
	width: 82%;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	background-color: #c34f6b;
}

.logInLogo img {
	position: relative;
	padding: 0.7em;
	width: 13em;
}

.loginInput {
	font-size: 16px;
}

::placeholder {
	font-size: 14px;
}

.logInSuccessful {
	font-size: 18px;
	position: relative;
	margin-top: 2em;
	margin-bottom: 1em;
	left: 12%;
	color: #6b6c6d;
}

.logInUnsuccessful {
	font-size: 1em;
	position: relative;
	left: -2.5%;
	margin-top: 2em;
	margin-bottom: 1em;
	color: #6b6c6d;
	width: 106%;
}

.signUpUnsuccessful {
	font-size: 1.2em;
	position: relative;
	margin-top: 2em;
	margin-bottom: 1em;
	left: 14%;
	color: #6b6c6d;
}

.username {
	color: rgb(255, 219, 219) !important;
	position: relative;
	top: 20%;
}

.username:hover {
	color: rgb(255, 255, 255) !important;
	position: relative;
	top: 20%;
	cursor: pointer;
}

.dropdown.user {
	z-index: 100;
	position: absolute !important;
	top: 0;
	right: 0px;
	height: 2em;
}

.dropdown-item {
	position: relative;
	right: 15px;
	top: 57.6px;
	height: 40px;
	width: 200px !important;
	text-align: center !important;
	background-color: #c34f6b !important;
	color: rgb(255, 223, 223) !important;
	font-size: 1em !important;
	margin-top: -5px;
	padding-top: 0.6em !important;
	padding-bottom: 0.5em !important;
}

.dropdown-item.last {
	position: relative;
	top: 57.6px;
	height: 40px;
	background-color: #c34f6b !important;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: rgb(255, 223, 223) !important;
	font-size: 1em !important;
	padding-top: 0.6em !important;
	padding-bottom: 0.5em !important;
}

.dropdown-item:hover {
	background-color: #c34f6b !important;
	background-color: rgb(211, 69, 104) !important;
	color: rgb(255, 223, 223) !important;
}

.profile.dropdown-item {
	position: relative;
	align-content: center !important;
	right: 15px;
	height: 135px;
	width: 200px !important;
	background-color: #c34f6b !important;
	color: rgb(255, 223, 223) !important;
	font-size: 16px;
	padding-top: 0.6em !important;
	padding-bottom: 0.5em !important;
	margin-bottom: 5px;
}

.username {
	position: absolute !important;
	right: 20px;
	width: 50px;
	height: 40px;
}

.username.text {
	font-size: 16px;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 83px;
}

.circular--landscape.header.profile {
	position: relative;
	right: 40px;
	margin-top: 7px;
	width: 30px;
	height: 30px;
}

.circular--landscape.header.profile.big {
	position: relative;
	left: -14px !important;
	top: -13px;
	width: 100px;
	height: 100px;
	border: 2.5px solid white;
	box-shadow: 0px 5px 5px #a03850 !important;
}

.caret {
	position: relative;
	top: 17px;
	right: 4px;
	font-size: 12px;
	color: white;
	position: absolute;
}

.articlePrompt.display-4.text-center {
	font-weight: lighter;
	margin-top: 2em;
	margin-bottom: -0.5em;
	font-size: 16px !important;
}

.loading {
	text-align: center;
	margin-top: 35%;
	margin-bottom: 37%;
}
