@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
	height: 100%;
	font-family: "Source Sans Pro", sans-serif;
}

.hubBox {
	display: flex;
	flex-flow: column;
	height: 100%;
	min-width: 650px;
	background-color: #f5f5f5;
}

.box .row {
	align-self: center;
	margin: 0;
}

.box .row.content {
	flex: 1 1 auto;
}

.display-3.text-center.hub {
	color: #212529;
	font-size: 40px;
	padding-left: 280px;
	padding-right: 280px;
}

.description.display-3 {
	color: rgb(190, 190, 190);
}

.empty.display-4.text-center {
	font-size: 1em;
	color: grey;
}

.card.border.border-danger {
	border-color: #c34f6b !important;
	border-radius: 20px;
	border-width: 0.8em;
}

hr {
	opacity: 0.8;
	border-radius: 5px;
	width: 100%;
}

.linkHome {
	color: #212529;
	text-decoration: none !important;
}

.linkHome:hover {
	color: #c34f6b;
}

a.try,
a.try:hover {
	padding-bottom: 1px;
	border-bottom: 3px solid #c34f6b;
	border-radius: 2px 2px 2px 2px;
	line-height: 10px;
	outline: none;
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: white;
}

hr.discuss {
	margin-bottom: 2em;
}

.moreButton {
	display: inline-block;
	position: absolute;
	right: 32px !important;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 4.8px;
	border-bottom-right-radius: 4.8px;
	border-top-left-radius: 4.8px;
	border-bottom-left-radius: 4.8px;
	border-width: 1.28px;
	height: 32px;
	width: 60px;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #c34f6b !important;
}

.moreButton:hover {
	background-color: rgb(211, 69, 104) !important;
}

.moreButton:focus {
	outline: none !important;
}

.moreButtonText {
	margin-top: 2px;
	font-size: 15px !important;
}

.articleLabel {
	display: inline-block;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.6vw + 15px);
	margin-left: calc(10vw + 17px);
	margin-top: 2.5vw;
	margin-bottom: 13px;
}

.label.icon {
	display: inline-block;
	height: 15px;
	margin-right: 8px;
	border-bottom: none !important;
	color: #c34f6b;
}

.firstContainer {
	position: relative;
	height: calc(27vw + 100px);
	min-width: 40%;
	width: 100%;
	margin-bottom: 8vw;
}

.articleContainer {
	display: inline-block;
	bottom: calc(6.8vw + 30px);
	text-align: center;
	height: calc(27vw + 63px);
	min-width: calc(20vw + 350px);
	width: 65%;
	margin-left: 8.5vw;
	padding-top: 1.5vw;
	padding-left: calc(0.1vw + 0px);
	padding-right: 1vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.articleSideContainer {
	position: absolute;
	display: inline-block;
	text-align: left;
	height: calc(27vw + 63px);
	min-width: calc(5vw + 100px);
	width: 16%;
	margin-left: 1vw;
	padding-top: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.articleButtonHolder {
	width: 100%;
	text-align: center;
}

.draftsButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-radius: 0.3vw;
	border-width: 1.3px;
	height: 1.8vw;
	width: 6vw;
	margin-right: 0.7vw;
	border-color: rgb(46, 185, 106);
	background-color: rgb(46, 185, 106);
	color: white !important;
}

.draftsButton:hover,
.draftsButton:focus {
	border-color: #16d469;
	background-color: #16d469;
	outline: none;
}

.newArticleButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-radius: 0.3vw;
	border-width: 1px;
	height: 1.8vw;
	width: 6vw;
	margin-left: 0.75vw;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #c34f6b !important;
}

.newArticleButton:hover {
	border-color: rgb(238, 59, 104) !important;
	background-color: rgb(238, 59, 104) !important;
}

.newArticleButton:focus {
	outline: none !important;
}

.newArticleText {
	margin: auto;
	font-size: calc(0.6vw + 4px);
}

.articleSearchHolder {
	width: 100%;
	padding-top: 1vw;
	padding-bottom: 2vw;
}

.searchInput {
	border-width: 0.07vw;
	border-radius: 0.3vw;
	border-color: #bbbbbb;
	color: #5f5f5f;
	font-size: calc(0.6vw + 4px);
	height: 1.8vw;
	width: 100%;
}

.searchInput:focus {
	outline: none !important;
}

::placeholder {
	font-size: calc(0.6vw + 3px);
	font-weight: 300;
}

.loading {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	font-size: 150px;
	color: #c34f6b;
}

.coverHub img {
	position: absolute;
	top: 100px;
	padding-left: 90px;
	padding-right: 90px;
	width: 100%;
	max-height: 250px !important;
	object-fit: fill !important;
}

.label {
	padding-bottom: 0.4em !important;
	border-bottom: 3px solid #c34f6b;
	border-radius: 2px 2px 2px 2px;
	line-height: 10px;
}
