@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 16pt;
	color: #292929;
}

html,
body {
	height: 100%;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.titleInput {
	text-align: center;
	margin-bottom: 5em;
}

.newArticleTitle::placeholder {
	font-size: 48px;
	color: white;
}

.newArticleSubtitle::placeholder {
	font-size: 24px;
	color: white;
}

.newArticleTitle,
.newArticleTitle:focus {
	margin-top: 4%;
	background-color: transparent;
	color: white !important;
	border: none !important;
	outline: none !important;
	font-size: 48px !important;
	font-family: "IBM Plex Sans";
	width: 8em;
	text-align: center;
}

.newArticleSubtitle,
.newArticleSubtitle:focus {
	background-color: transparent;
	color: white !important;
	border: none !important;
	outline: none !important;
	font-size: 1.5em;
	font-family: "IBM Plex Sans";
	width: 41.2em;
	text-align: center;
	margin-bottom: 4em;
}

.cover {
	position: absolute;
	z-index: -1;
	height: 37.5%;
	width: 100%;
	object-fit: cover;
	object-position: 0% 62%;
}

.submitButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 10%;
	border-color: #c34f6b !important;
	color: #c34f6b !important;
	background-color: white;
}

.submitButton:hover {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 10%;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #c34f6b !important;
}

.submitButton:focus {
	outline: none !important;
}

.submitText {
	margin-top: 0.1em;
	font-size: 1.1em;
}

.d-flex.justify-content-end.submit {
	margin-top: 3em;
	margin-bottom: 5em;
	margin-right: 6.2em;
}

.saveButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 10%;
	border-color: #21b134 !important;
	color: #21b134 !important;
	background-color: white;
	margin-right: 1em;
}

.saveButton:hover {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	border-width: 0.08em;
	height: 2em !important;
	width: 10%;
	border-color: #21b134 !important;
	color: white !important;
	background-color: #21b134 !important;
}

.saveButton:focus {
	outline: none !important;
}

.saveText {
	margin-top: 0.1em;
	font-size: 1.1em;
}

.uploadButton {
	position: absolute;
	top: 40%;
	right: 0.75em;
	font-size: 1.25em !important;
	color: white !important;
}

.uploadButton:hover {
	cursor: pointer;
}

.content.d-flex.justify-content-center {
	margin-top: 4%;
}
