@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 16pt;
	color: #292929;
}

html,
body {
	height: 100%;
}

.view.cover {
	position: relative;
	z-index: -1;
	height: 256px !important;
	width: 100%;
	object-fit: cover;
	object-position: 0% 62%;
}

.view.title {
	position: absolute;
	top: 4%;
	color: white !important;
	text-align: center;
	width: 100%;
	margin-top: 105px;
	font-family: "IBM Plex Sans", sans-serif !important;
	font-size: 48px !important;
	font-weight: 100 !important;
}

.view.subtitle {
	position: absolute;
	top: 9em;
	left: 0;
	width: 100%;
	max-height: 3em;
	color: white !important;
	text-align: center;
	margin-top: 10px;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 20.8px !important;
	font-weight: 100 !important;
}

.view.content {
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: 6.5em;
	margin-right: 6.5em;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 14pt !important;
	font-weight: 100 !important;
}
