@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html,
body {
	height: 100%;
}

.draftContainer {
	margin: auto;
	text-align: left;
	width: 70vw;
	padding-left: 2.5vw;
}

.draftLabel {
	margin-top: 60px;
	margin-bottom: 25px;
	margin-left: calc(17.5vw + 15px);
	border-bottom: 3px solid #c34f6b;
	border-radius: 2px 2px 2px 2px;
	width: 160px;
}

.draftIcon {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none !important;
	color: #c34f6b;
	font-size: 25px;
}

.draftText {
	display: inline-block;
	position: relative;
	top: 5px;
	font-size: 25px;
}

.draftLoading {
	margin: auto;
	margin-top: 30px;
	text-align: center;
	width: 70vw;
	font-size: 150px;
	color: #c34f6b;
}

.noDraftsText {
	padding-top: 30px !important;
	text-align: center;
	color: rgb(190, 190, 190);
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(1vw + 10px);
}
