@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html,
body {
	height: 100%;
}

.draftContainer {
	text-align: center;
	width: calc(63% + 20px);
	margin: auto;
	margin-bottom: 1vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.draftLabel {
	display: inline-block;
	font-family: "Source Sans Pro", sans-serif;
	margin-left: calc(19.5vw + 30px);
	margin-top: 2.5vw;
	margin-bottom: 0.8vw;
}

.draftIcon {
	display: inline-block;
	margin-right: 5px;
	border-bottom: none !important;
	color: #c34f6b;
	font-size: calc(0.6vw + 15px);
}

.draftText {
	display: inline-block;
	position: relative;
	top: 5px;
	font-size: calc(0.6vw + 15px);
}

.draftLoading {
	margin: auto;
	margin-top: 30px;
	text-align: center;
	width: 70vw;
	font-size: 150px;
	color: #c34f6b;
}

.noDraftsText {
	padding-top: 30px !important;
	text-align: center;
	color: rgb(190, 190, 190);
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(1vw + 10px);
}
