@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html,
body {
	height: 100%;
}

.viewArticleBox {
	z-index: 1;
	position: absolute;
	top: -1vw;
	width: 100%;
	min-width: 650px;
	background-color: #f5f5f5;
}

.viewCover {
	position: absolute;
	top: 58px;
	margin-left: 25vw;
	margin-right: 25vw;
	z-index: 0;
	height: 350px !important;
	width: 50%;
	min-width: 400px !important;
	object-fit: cover;
	object-position: 0% 50%;
}

.viewCoverBackground {
	z-index: -3;
	position: absolute;
	top: 45px;
	height: 350px !important;
	object-fit: cover;
	object-position: 0% 50%;
	width: 95.2%;
	min-width: 615px;
	/* Add the blur effect */
	filter: blur(10px);

	transform: scale(1.1);
}

.cutoff {
	z-index: -2;
	position: absolute;
	top: 408.5px;
	height: 40px;
	width: 100%;
	background-color: #f5f5f5;
}

.view.title.short {
	position: relative;
	top: 6px;
	padding-top: 180px;
	padding-left: 27.5vw;
	padding-right: 27.5vw;
	color: white !important;
	height: 115px;
	width: 100%;
	margin-top: 130px;
	margin-bottom: 0px;
	font-family: "Libre Baskerville", serif !important;
	font-size: calc(2vw + 15px);
	font-weight: 100 !important;
	text-shadow: 2px 2px 4px #000000;
}

.view.title.long {
	position: relative;
	padding-top: 150px;
	padding-bottom: 20px;
	padding-left: 27.5vw;
	padding-right: 27.5vw;
	color: white !important;
	height: 115px;
	width: 100%;
	margin-top: 115px;
	font-family: "Libre Baskerville", serif !important;
	font-size: calc(2vw + 15px);
	font-weight: 100 !important;
	text-shadow: 2px 2px 4px #000000;
}

.longPadding {
	position: relative;
	width: 100%;
	padding-bottom: 17px !important;
}

.view.subtitle {
	position: relative;
	left: 0;
	margin-top: 62.5px;
	margin-bottom: 0px;
	padding-left: 27.5vw;
	padding-right: 27.5vw;
	width: 100%;
	max-height: 70px;
	color: rgb(200, 200, 200) !important;
	font-family: "Libre Baskerville", serif !important;
	font-size: calc(0.6vw + 10px);
	font-weight: 100 !important;
	text-shadow: 2px 2px 2px #000000;
}

.articleContentContainer {
	position: relative;
	top: 13px;
	z-index: -2;
	width: 50%;
	min-width: 400px;
	text-align: left;
	margin-left: 25vw !important;
	margin-right: 25vw !important;
	margin-bottom: 50px;
	border: 1.2px solid rgb(215, 215, 215);
	border-top: none !important;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
}

.view.author {
	color: rgb(50, 50, 50);
	height: 65px;
	width: 100%;
	padding-top: 29px;
}

.view.author.big {
	position: relative;
	height: 130px;
	padding-left: 30px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.article.line {
	width: 92%;
}

.circular--landscape.author.picture {
	display: inline-block;
	position: relative;
	top: -13px;
	left: 0px;
	width: 50px !important;
	height: 50px;
	box-shadow: 0px 5px 5px #bbbbbb !important;
}

.circular--landscape.author.picture.big {
	display: inline-block;
	position: relative;
	top: 0px;
	left: -40px !important;
	width: 100px !important;
	height: 100px;
	box-shadow: 0px 5px 5px #bbbbbb !important;
}

.by {
	display: inline-block;
	font-style: normal;
}

.author.name {
	display: inline-block;
	position: relative;
	top: -22.5px !important;
	left: 10px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	color: rgb(50, 50, 50);
}

.author.name.big {
	position: absolute;
	top: 28px !important;
	left: 0px;
	padding-left: calc(0.5vw + 130px);
	padding-right: 4vw;
	width: 100%;
	text-align: left;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.6vw + 15px);
	font-weight: bold;
	color: rgb(50, 50, 50);
}

.author.date {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 20px !important;
	width: 150px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 15px;
	color: grey;
}

.optionsButtonContainer {
	position: absolute;
	top: 40px;
	right: 0px;
}

.author.bookmark {
	display: inline-block;
	position: absolute;
	right: 0;
	padding-right: 2.5vw;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.6vw + 6px);
	color: grey;
}

.editButtonContainer {
	position: absolute;
	top: 35px;
	right: 0px;
}

.author.edit {
	display: inline-block;
	position: relative;
	padding-right: 1vw;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.6vw + 6px);
	color: grey;
}

.author.delete {
	display: inline-block;
	position: relative;
	padding-right: 2.5vw;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.6vw + 6px);
	color: grey;
}

.author.createdby {
	display: inline-block;
	position: absolute;
	left: 0;
	padding-left: calc(0.5vw + 130px);
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	color: grey;
}

.author.description {
	display: inline-block;
	position: absolute;
	top: 58px;
	left: 0px;
	padding-left: calc(0.5vw + 130px);
	padding-right: 4vw;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.55vw + 10px);
	color: grey;
}

.view.content {
	padding-top: calc(2vw + 10px);
	padding-bottom: calc(0.9vw + 10px);
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	font-family: "Libre Baskerville", serif !important;
	font-size: calc(0.6vw + 10px);
	font-weight: 100 !important;
	color: rgb(50, 50, 50);
}

figure.image {
	display: inline-block;
	margin: 0 2px 0 1px;
}

figure.align-left {
	float: left;
}

figure.align-right {
	float: right;
}

figure.image img {
	margin: 8px 8px 0 8px;
}

figure.image figcaption {
	color: grey !important;
	font-size: 16px;
	margin: 6px 8px 6px 8px;
	text-align: center;
	background-color: red;
	height: 0px;
}

.loadingProfilePic {
	position: relative;
	top: -10px;
	margin-left: 30px;
	margin-right: 20px;
	font-size: 40px;
}

.loadingProfilePicBig {
	position: relative;
	top: -10px;
	margin-left: 30px;
	margin-right: 25px;
	font-size: 85px;
}

.viewArticleLoading {
	position: absolute;
	top: 58px;
	z-index: 100;
	height: 70em !important;
	width: 100% !important;
	padding-top: 155px;
	padding-left: 550px;
	padding-right: 550px;
	margin-bottom: 350px;
	background-color: rgba(255, 255, 255, 0.2);
}

.imageLink,
.imageLink:hover {
	z-index: 100;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	height: 90px;
	width: 100px;
	border-radius: 50%;
	cursor: pointer !important;
}

.statusModal {
	margin-top: 30vh;
}

.confirmationText {
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 19px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
	color: #6b6c6d;
}

.cancelButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 4.8px;
	border-bottom-right-radius: 4.8px;
	border-top-left-radius: 4.8px;
	border-bottom-left-radius: 4.8px;
	border-width: 1.28px;
	height: 32px !important;
	width: 5.5vw;
	border-color: rgb(46, 185, 106);
	background-color: rgb(46, 185, 106);
	color: white;
	margin-right: 1em;
}

.cancelButton:hover {
	border-color: #16d469;
	background-color: #16d469;
}

.cancelButton:focus {
	outline: none !important;
}

.cancelText {
	margin: auto;
	font-size: 16px !important;
	font-family: "Source Sans Pro", sans-serif;
}

.deleteButton {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-right-radius: 4.8px;
	border-bottom-right-radius: 4.8px;
	border-top-left-radius: 4.8px;
	border-bottom-left-radius: 4.8px;
	border-width: 1.28px;
	height: 32px !important;
	width: 5.5vw;
	border-color: #c34f6b !important;
	color: white !important;
	background-color: #c34f6b !important;
}

.deleteButton:hover {
	border-color: rgb(238, 59, 104) !important;
	background-color: rgb(238, 59, 104) !important;
}

.deleteButton:focus {
	outline: none !important;
}

.deleteText {
	margin: auto;
	font-size: 16px !important;
	font-family: "Source Sans Pro", sans-serif;
}

.deleteDoneText {
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 19px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #6b6c6d;
}

.deleteLoading {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 100px;
	color: #c34f6b;
}

.deleteIcon {
	font-size: 80px;
	position: relative;
	padding-top: 20px;
	margin: auto;
	width: 100%;
	color: #c34f6b;
}

.similarArticleIcon {
	display: inline-block;
	position: relative;
	top: -5px;
	height: 15px;
	margin-right: 8px;
	border-bottom: none !important;
	color: #c34f6b;
	font-size: calc(0.8vw + 10px);
}

.similarArticleLabel {
	display: inline-block;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.6vw + 15px);
	margin-left: calc(25vw + 20px);
	margin-bottom: 0.1vw;
}

.similarArticleContainer {
	position: relative;
	top: 10px;
	z-index: -2;
	height: 200px;
	width: 50%;
	min-width: 400px;
	text-align: left;
	margin-left: 25vw !important;
	margin-right: 25vw !important;
	margin-bottom: 50px;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
}
