@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 16pt;
	color: #292929;
}

html,
body {
	height: 100%;
}

.view.cover {
	position: relative;
	z-index: -1;
	height: 256px !important;
	width: 100%;
	object-fit: cover;
	object-position: 0% 62%;
}

.view.title {
	position: absolute;
	top: 4%;
	color: white !important;
	text-align: center;
	width: 100%;
	margin-top: 105px;
	font-family: "IBM Plex Sans", sans-serif !important;
	font-size: 48px !important;
	font-weight: 100 !important;
}

.view.subtitle {
	position: absolute;
	top: 9em;
	left: 0;
	width: 100%;
	max-height: 3em;
	color: white !important;
	text-align: center;
	margin-top: 10px;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 20.8px !important;
	font-weight: 100 !important;
}

.view.author {
	position: relative;
	top: 40px;
	left: 200px;
	color: rgb(73, 72, 72);
	margin-bottom: 55px;
}

.article.line {
	width: 71%;
}

.circular--landscape.author.picture {
	display: inline-block;
	position: relative;
	left: -14px !important;
	top: -13px;
	width: 55px;
	height: 55px;
	box-shadow: 0px 5px 5px #bbbbbb !important;
}

.by {
	display: inline-block;
	font-style: normal;
}

.author.name {
	display: inline-block;
	position: relative;
	top: -12.5px !important;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400 !important;
	font-size: 17px;
}

.view.content {
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: 225px;
	margin-right: 225px;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 22.5px !important;
	font-weight: 100 !important;
}

figure.image {
	display: inline-block;
	margin: 0 2px 0 1px;
}

figure.align-left {
	float: left;
}

figure.align-right {
	float: right;
}

figure.image img {
	margin: 8px 8px 0 8px;
}

figure.image figcaption {
	color: grey !important;
	font-size: 16px;
	margin: 6px 8px 6px 8px;
	text-align: center;
	background-color: red;
	height: 0px;
}
