@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
	height: 100%;
}

.learnMorePageBox {
	height: 100%;
	min-width: 650px;
	background-color: #f5f5f5;
}

.learnMoreContainer {
	position: relative;
	text-align: center;
	margin-left: 4.5vw;
	margin-right: 4.5vw;
	padding-top: 1vw;
}

.learnMoreCardContainer {
	text-align: center;
	width: calc(85% + 30px);
	margin: auto;
	margin-bottom: 1vw;
	padding-top: 1vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.learnMidContainer {
	padding-bottom: 3vw;
}

.leftTabContainer {
	display: inline-block;
	position: relative;
	text-align: left;
	min-width: calc(5vw + 60px);
	width: 16%;
	padding-top: calc(1.6vw + 10px);
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
}

.learnContentContainer {
	display: inline-block;
	position: relative;
	min-width: calc(50% + 40px);
	margin-left: 1vw;
	padding-top: 15px;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
}

.rightTabContainer {
	position: relative;
	display: inline-block;
	text-align: left;
	min-width: calc(5vw + 60px);
	width: 16%;
	margin-left: 1vw;
	padding-top: calc(1.6vw + 10px);
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
}

.topicIcon {
	display: inline-block;
	position: relative;
	top: calc(-0.3vw + -24px);
	margin-right: 2px;
	font-size: calc(0.6vw + 8px);
	color: #c34f6b;
}

.topicLabel {
	display: inline-block;
	position: relative;
	top: -25px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: calc(0.75vw + 6px);
	color: rgb(50, 50, 50);
}

.learnLabel {
	position: relative;
	text-align: left;
	margin-left: 0;
	margin-top: 0vw;
	margin-bottom: 10px;
	margin-left: 0;
	padding-left: 2vw;
	width: 100%;
}

.learnText {
	top: 5px;
	font-family: "Libre Baskerville", serif !important;
	font-size: calc(2.1vw + 10px);
	color: rgb(50, 50, 50);
}

.learnMoreLine {
	width: 45vw;
	margin-bottom: 29.75vw;
}

.learnMoreTabLine {
	position: relative;
	top: -2vw;
	width: 12vw;
	margin-bottom: 30vw;
}
