.learn.card.border {
	height: calc(11vw + 30px);
	min-width: calc(180px);
	width: calc(17vw + 40px);
	border-color: transparent !important;
	border-width: 0 !important;
	border-radius: 20px; /* Larger number results in more curved corners of card */
	box-shadow: 0px 5px 15px #bbbbbb !important;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	display: inline-block;
	text-align: left !important;
}

.card.border:hover {
	box-shadow: 0px 15px 30px #bbbbbb !important;
	cursor: pointer;
}

.card-img-top-learn {
	border-color: transparent !important;
	border-width: 0 !important;
	border-top-right-radius: 20px !important;
	border-top-left-radius: 20px !important;
	background-color: #ffa291;
}

.learnTitle {
	position: relative;
	bottom: calc(1vw + 22px);
	padding-left: 15px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	font-size: calc(1.1vw + 8.5px);
	align-content: center;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.learnSubtitle {
	position: relative;
	bottom: calc(2.2vw + 48.5px);
	padding-left: 15px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	font-size: calc(0.5vw + 10px);
	align-content: center;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.learn.link {
	color: white;
}

.learn.link:hover {
	color: white;
	text-decoration: none;
}
