.btn.btn-outline-danger.showModal {
	color: #c34f6b;
	border-color: #c34f6b !important; /* Sets all card border colors to match header and footer color */
	border-bottom-left-radius: 18px; /* Larger number results in more curved corners of card */
	border-bottom-right-radius: 18px; /* Larger number results in more curved corners of card */
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.btn.btn-outline-danger.showModal:hover {
	background-color: #c34f6b;
}

.learn.card.border {
	margin-top: -1em;
	border-color: transparent !important;
	border-width: 0 !important;
	border-radius: 20px; /* Larger number results in more curved corners of card */
	box-shadow: 0px 5px 15px #bbbbbb !important;
}

.card.border:hover {
	box-shadow: 0px 15px 30px #bbbbbb !important;
	cursor: pointer;
}

.title.pt-4.learn {
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	font-size: 26px;
	align-content: center;
	position: absolute;
	left: 5.5%;
	bottom: 2%;
}

.subtitle.learn {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 16px;
	position: absolute;
	left: 6%;
	bottom: 10%;
	color: white;
}

.card-img-top-learn {
	border-color: transparent !important;
	border-width: 0 !important;
	border-top-right-radius: 20px !important;
	border-top-left-radius: 20px !important;
	background-color: #ffa291;
}

button .container h5 {
	font-size: 17px;
	font-weight: 380;
	position: relative;
	justify-content: center;
	color: #303030;
}

.modal {
	border-color: #c34f6b !important; /* Sets all card border colors to match header and footer color */
	border-radius: 20px; /* Larger number results in more curved corners of card */
	border-width: 0.8em;
}
