html,
body {
	height: 100%;
}

.learnMorePageBox {
	height: 100%;
}

.leftTabContainer {
	display: inline-block;
	text-align: left;
	min-width: calc(5vw + 100px);
	width: 18%;
	margin-left: 2vw;
	padding-top: 2.5vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.learnMoreContainer {
	display: inline-block;
	text-align: center;
	width: 56%;
	margin: auto;
	margin-left: 2vw;
	padding-top: 2.5vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.rightTabContainer {
	display: inline-block;
	text-align: left;
	min-width: calc(5vw + 100px);
	width: 18%;
	margin-left: 2vw;
	padding-top: 2.5vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	border: 1.2px solid rgb(215, 215, 215);
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #dddddd !important;
	line-height: 0px;
}

.dataStructuresLabel {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: calc(14.5vw + 17px);
	width: calc(8vw + 125px);
}

.dataStructuresText {
	display: inline-block;
	position: relative;
	top: 5px;
	font-size: calc(0.8vw + 15px);
}

.algorithmsLabel {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: calc(14.5vw + 17px);
	width: calc(4vw + 125px);
}

.algorithmsText {
	display: inline-block;
	position: relative;
	top: 5px;
	font-size: calc(0.8vw + 15px);
}

.labelIcon {
	display: inline-block;
	height: 15px;
	padding-left: 7px;
	margin-right: 8px;
	border-bottom: none !important;
	color: #c34f6b;
	font-size: calc(1vw + 10px);
}
