.circle-container {
    padding: 100px 0;
}

.circle {
    border-radius: 100%;
    height:80px;
    width: 80px;
    background-color: aqua;
    position: absolute; 
}

.center {
    margin: 0 auto;
}

.shadow {
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
} 